/* 
  Base styles for the design system.

  These ensure tokens are applied when components are rendered
  outside the application environment (e.g. Storybook).
*/
@import "../tokens/index.css";

html,
body {
  height: 100%;
}

body {
  color: hsl(var(--ds-text));
  background: hsl(var(--ds-bg));
}
